libreria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libreria" type="libreriaType">
    <xs:annotation>
      <xs:documentation>libreria.xml</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="libreriaType">
    <xs:sequence>
      <xs:element type="libroType" name="libro" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libroType">
    <xs:sequence>
      <xs:element name="titulo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AAD1"/>
            <xs:enumeration value="AAD2"/>
            <xs:enumeration value="SEGA"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="autor" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Profesor 1"/>
            <xs:enumeration value="Yu Suzuki"/>
            <xs:enumeration value="Yuji Naka"/>
            <xs:enumeration value="Yuzo Koshiro"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="categoria" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Programación"/>
            <xs:enumeration value="Videojuegos"/>
            <xs:enumeration value="Ocio"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="lenguaje" minOccurs="0"/>
      <xs:element name="anyo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2009"/>
            <xs:enumeration value="2008"/>
            <xs:enumeration value="1999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="edicion" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="7"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="precio">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="19.99"/>
            <xs:enumeration value="25.99"/>
            <xs:enumeration value="49.99"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ISBN" use="optional"/>
  </xs:complexType>
</xs:schema>